@media only screen and (min-width: 35rem) {
    section#about h1 {
        font-size: 4rem;
    }
    section#about h2 {
        font-size: 2.5rem;
    }

    section#projects h2 {
        font-size: 3rem;
            }
            

    div.theParent a {
        flex-basis: 50%;
    }

    section#contact h2 {
        font-size: 3rem;
    }
    
} /* end media query*/