@media only screen and (min-width: 60rem) {
    header, main, footer{
        max-width: 60rem;
        margin: 0 auto;
    }


    div.assignments {
        column-count: 3;
    }
} /* end media query*/